:root {
  --primary-color: rgb(24, 30, 32);
  --primary-background: rgb(24,30,32);
  --primary-window-background: rgb(23,23,23);
  --accent-color: rgba(149,96,75,1);
  --accent-color-interactive: rgba(96,255,249,1);
  --primary-color-hover: rgba(34,39,40,1);
  --primary-color-active: rgba(34,39,40,1);
  --primary-color-focus: rgba(34,39,40,1);
  --primary-color-highlight: rgba(149,96,75,1);
  --primary-color-selected: rgba(149,96,75,1);
  --primary-color-selected-hover: rgba(149,96,75,1);
  --primary-color-selected-active: rgba(149,96,75,1);
  --primary-color-disabled: rgba(255,255,255,1);
  --primary-color-disabled-hover: rgba(255,255,255,1);
  --primary-color-disabled-active: rgba(255,255,255,1);
  --primary-color-disabled-focus: rgba(255,255,255,1);
  --primary-color-text: rgba(172,175,171,1);
}


html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: var(--primary-color);
  }
}

a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  padding: 1rem;
 }

 li {
  padding: 0;
}
